<div data-ng-controller="BarChartController">
    <div class="row">
        <div class="col-md-10">
            <p>This page shows a thrid party Javascript bar chart control. The data is created statically in the controller file, in this case.</p>
        </div>
        <div class="col-md-10">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="return false;">Controller source code</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div id="sourcecode" class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div id="chart1"></div>
        </div>
    </div>
    <script type="text/javascript-lazy">
        $('#sourcecode')
          .load('SourceCode/BarChartController.html');
    </script>
</div>